.str1 {stroke:black;stroke-width:10;stroke-opacity:0.501961}
.str3 {stroke:#2B2A29;stroke-width:50}
.str5 {stroke:#434242;stroke-width:10}
.str0 {stroke:black;stroke-width:10}
.str2 {stroke:black;stroke-width:10}
.str6 {stroke:#2B2A29;stroke-width:7.62}
.str4 {stroke:black;stroke-width:7.62}
.fil7 {fill:none}
.fil2 {fill:#FEFEFE}
.fil1 {fill:#EBECEC}
.fil9 {fill:#D9DADA}
.fil0 {fill:#A2D9F7}
.fil6 {fill:#FEFEFE;fill-rule:nonzero}
.fil5 {fill:#D9DADA;fill-rule:nonzero}
.fil8 {fill:#434242;fill-rule:nonzero}
.fil4 {fill:black;fill-rule:nonzero}
.fil3 {fill:#FEFEFE;fill-rule:nonzero;fill-opacity:0.501961}