
.conatiner{

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 1fr; */
    background-color: #eee;
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    /* padding: 0; */
    /* overflow: auto; */

}

.rightSide{
    display: grid;
    width: 100%;
    /* height: 100vh; */
    grid-column: 2 / -1;

    grid-row: 1 / -1;
    
    transition: .8s  transform ease-out;

}

.rightSide.rightSidetr{
    /* transform: translateX(-10%); */
    /* transition: .8s  transform ease-in; */
    grid-column: 1 / -1;

}

.settings{
    display: flex;
    
    cursor: pointer;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: gray;
    right: 0%;
    top: 40%;
    width: 64px;
    height: 40px;
    padding: 5px;
    border-radius: 3px;
    background:rgba(0,0,0,.3);
    z-index: 10;
}

.settings svg{
    width: auto;
    height: 30px;
    color: #fff;
}

.dropdownMenu{
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    right: 65px;
    height: 150px;
    width: 200px;
    background-color: #fff;
    padding: 8px;
}

.dropdownMenu::before{
    content: '';
    position: absolute;
    right: -16px;
    top: 40%;
    border-bottom: 16px solid transparent ;
    border-top: 16px solid transparent;
    border-left:16px solid rgba(0,0,0,.4);

}

.dropdownMenu li{
    width: auto;
    height: 20px;
    list-style: none;
    font-size: 0.5rem;
    font-weight: bold;
}
 /* 0 1 2 */
.dropdownMenu li span{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 90%;
    margin: 5px;
    border: 3px solid #fff;

}
/* 0 1 0 */


.dropdownMenu>li>span:nth-child(1)
{
    background-color: #00bcd4;
}


.dropdownMenu>li>span:nth-child(2)
{
    background-color: rgb(150, 146, 146);
}

.dropdownMenu>li>span:nth-child(3)
{
    background-color: #000;
}

.dropdownMenu>li>span:hover
{
    border-color:#43ddf1;
    /* transition: .3s border ease-in; */
}

.hidden{
    display: none;
}