@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.rightbar {
  position: relative;
  top: 0;
  bottom: 0;
  position: inherit;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),url("https://images.unsplash.com/photo-1445262102387-5fbb30a5e59d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%),
    0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  transition: .8s transform ease-out;

}

.displaynone {
  transform: translate(-100%);
  transition: .8s transform ease-in;
  visibility: hidden;
}

@media (max-width: 1280px) {
  .rightbar {
    transform: translate(-100%);
    transition: 1s transform ease-in;
    grid-column: 1 / -1;
  }
}

.logo {
  color: azure;
  font-family: "Roboto", sans-serif;
}

.logo::after {
  display: block;
  content: "";
  width: 90%;
  margin: 0 5%;
  border-top: 0.02px solid rgb(120, 120, 126);

  background-color: aliceblue;
}

.profile {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  color: aliceblue;
}

.profile img {
  width: 30px;
  height: 30px;
  border-radius: 25px;
}

.profile p {
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

.menu {
  color: rgb(228, 222, 222);
  box-sizing: border-box;
  /* border-top:  0.02px solid rgb(120, 120, 126); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /* height: 50vh; */
}
.menu::before {
  display: block;
  content: "";
  width: 90%;
  margin: 0 5%;
  border-top: 0.02px solid rgb(120, 120, 126);

  background-color: aliceblue;
}
.listItems {
  padding: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

