
.conatiner{
    /* display: flex;
     */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    background-color: #eee;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    /* padding: 0; */
    overflow: auto;

}

.rightSide{
    display: grid;
    width: 100%;
    height: 100%;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
}
